@import './root.css';
@import './header.css';
@import './footer.css';

body{
    background-color: var(--mainBodyColor);
    font-family: var(--fontMons);
}
main{
    padding-left: 40px;
    padding-right:40px ;
    margin-top: 98px;
}

.btn-back{
    cursor: pointer;
    font-weight: 900;
    font-size: 12px;
    background-color: var(--mainColorOrange);
    border: none;
    color: #ffff;
    padding: 10px 0 10px 40px;
    /* width: 100px;
    height: 30px; */
    padding-right: 30px;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-left: 74px;
}

.year-book{
    font-weight: 900;
    font-size: 12px;
    background-color:#2F80ED;
    color: #ffff;
    width: 70px;
    height: 26px;
    text-align: center;
    padding-top: 7px;
    border-radius: 4px;
}

.book-name{
    color: var(--mainColorText);
    font-weight: 700;
    font-size: 35px;
}
.history-add{
    color: var(--mainColorText);
    font-weight: 700;
    font-size: 16px;
}
.author-name{
    color: var(--mainColorText);
    font-weight: 400;
    font-size: 22px;
}
.book-title{
    color: var(--mainColorText);
    font-weight: 400;
    font-size: 18px;
    line-height: 35.31px;
}

.section1-content{
    display: flex;
    flex-direction: row;
    justify-content:space-around
}
.description{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
    margin-top: 64px;
}

/* SECTION-2 */
.section-2{
    width: 50%;
    margin: 0 0 80px 77px;

}

.input-comment{
    width: 686px;
    height: 60px;
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 4px;
    padding-left: 30px;
    font-family: var( --fontRoboto);

}

input::placeholder{
    font-family: var( --fontRoboto);
    font-weight: 300;
    font-size: 20px;
    line-height: 23.44px;
    color: #232323;   
}

.send-icon{
    background-color: var(--mainColorOrange);
   width: 60px;
   height: 60px;
   border-radius: 4px;
   text-align: center;
   padding-top: 16px;
}
.send{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.user{
    font-weight: 500;
}

.anonim-side{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    
}

.comment-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.comment{
    background-color: #ffff;
    border-radius: 4px;
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    padding: 30px 25px 30px 25px;
    
}

.section-2-design{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
  }
  html.is-animating .transition-fade {
    opacity: 0;
  }
