@import './root.css';
@import './header.css';
@import './footer.css';


body{
  background-color: var(--mainBodyColor);
}
main{
  padding: 0 20px 0 80px;
  margin-top: 98px;

}



  .search-line{
    display: flex;
    flex-direction: column;
    gap: 44px;
    width: 100%;
    
}
.search-title{
color:  #241400;
font-family: Montserrat;
font-size: 36px;

font-weight: 700;
line-height: 196.187%; 
}
.input-search{
color: #241400;
font-family: "Crimson Text";
font-size: 23px;
font-weight: 400;
border-radius: 5px;
border: 1px solid #CECECE;
padding-left: 28px;
background: #FFF;
height: 10%;
width: 100%;
}
.btn-search{
    border-radius: 5px;
background: #E16A00;
color: #FFF;
text-align: center;
font-family: "Crimson Text";
font-size: 20px;
font-weight: 400;
border: none;
padding: 12px 0 12px 0;
}
  .arrows{
    display: flex;
    align-items: center;
    gap: 34px;
    margin-top: 70px;
   
}

.search-sec{
  display: flex;
}

.slider{
  
    width: 85%;
    background: #FFF;
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
padding: 64px 0 90px 31px;
height: 100%;

}
.texts{
    display: flex;
    gap: 38px;
}
.book-text{
    padding-right: 56px;
}
.main-section{
    display: flex;
    flex-direction: row;
    gap: 94px;
    justify-content: space-between;  
}
.arrow-btn{
    border: none;
    background-color: #FFFAF5;
    height: 50px;
    
    
} 
  
  
  
@media only screen and (max-width: 1200px){
  body{
      padding: 0;
  }
  .book-text{
      padding: 0;
  }
 .main-section{
  display: flex;
  flex-wrap: wrap;
 }
 .arrows{
  display: -webkit-box;
 -webkit-box-pack: center;
  margin-top: 80px;
  padding: 0 14px 0 16px;
 }
 .search-line{
  align-items: center;
 }
 .arrow-btn{
  display: none;
  padding: 0;
 }
 .slider{
  box-shadow: none;
  background-color: #FFFAF5;
  text-align: center;
  padding: 0;
  width: 50%;
 }
 .texts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .input-search{
  width: 50%;
  padding: 20px 0 16px 16px;
  height: 50px;
 }
 .btn-search{
  width: 50%;
  height: 50px;
 }
}
  


